<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>
    <h1>Confirm account deletion</h1>
    <br>
    <form method="post" action="{{baseUrl}}/auth/confirm-deletion/{{data.uid}}">
        <br>
        <br>
        <input type="submit" value="Purge">
    </form>
</body>

</html>