<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>
    <h1>Reset password</h1>
    <br>
    {{#if data.response }}
    <br>
    <h1>{{data.response}}</h1>
    <br>
    <br>
    {{else}}
    {{#if data.error }}
    <h1>Account information corrupted</h1>
    {{else}}
    <form method="post" action="http://localhost/auth/reset-confirmation/{{data.uid}}">
        <input type="text" name="old" placeholder="old password">
        <br>
        <br>
        <input type="text" name="new" placeholder="new password">
        <br>
        <br>
        <input type="text" name="confirm" placeholder="confirm password">
        <br>
        <br>
        <input type="submit" value="Reset password">
    </form>
    {{/if}}
    {{/if}}
</body>

</html>