<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Account deletion request</title>
</head>

<body>
    <h1>
        Check link for account elimination {{ userName }}
    </h1>
    <br>
    <a href="{{baseUrl}}/auth/delete/{{uid}}">
        Account deletion confirm
    </a>
</body>

</html>