<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reset password account</title>
</head>

<body>
    <h1>
        Reset password {{ userName }}
    </h1>
    <br>
    <a href="http://localhost/auth/reset/{{email}}/{{uid}}">Reset password</a>
</body>

</html>