<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Temporal password</title>
</head>

<body>
    <h4>
        Hola!, se ha asignado una contraseña temporal!
    </h4>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{tempPass}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Deberas actualizarla usando el siguiente enlace
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="https://scontent.fbog4-1.fna.fbcdn.net/v/t39.30808-6/301356034_510514234356703_7333671487040094553_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=oubgdTtuRKQAX-haqKH&_nc_ht=scontent.fbog4-1.fna&oh=00_AfCNwQZoU3mfjPFu7L9FWRPxUQrkxdMkDHyHYGTa62W59g&oe=65D0BF37"
                    alt="" width="200px" height="200px">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <a href="{{baseUrl}}/auth/reset/{{email}}/{{uid}}">Cambiar contraseña</a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>